.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}

.video-background video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -5;
}

.content {
  z-index: 10;
}

.custom-bg .ant-input {
  background-color: transparent !important;
  color: white !important;
}

.custom-input::placeholder {
  color: #ccc !important;
}

::-webkit-input-placeholder {
  color: white !important;
}

.custom-bg .anticon {
  color: white !important;
}
