@tailwind base;
@tailwind components;
@tailwind utilities;

.gkVVXq {
  width: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cZGHzp {
  margin-right: 15px;
}

.custom-button2:hover {
  background-color: #42e280 !important;
}
.custom-button2:active {
  background-color: #7cf2a9 !important;
}

.custom-button3:hover {
  color: #ffa500 !important;
  border-color: #ffa500 !important;
}
.custom-button3:active {
  color: #cea861 !important;
  border-color: #cea861 !important;
}

.ant-steps-item-icon {
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
}
